<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.elanlar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/elanlar_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/elanlar_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GirisActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_Giris">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Custom_AppTheme" />
        <activity
            android:name=".AdverAllDetails"
            android:label=""
            android:theme="@style/Custom_AppTheme" />
        <activity
            android:name=".ImageFullScreen"
            android:label=""
            android:theme="@style/Custom_AppTheme" />
        <activity
            android:name=".ByTypeActivity"
            android:label=""
            android:theme="@style/Custom_AppTheme"></activity>
        <activity
            android:name=".AddAnAdver"
            android:label=""
            android:theme="@style/Custom_AppTheme">
        </activity>
    </application>

</manifest>